{% extends "layout.html" %}
{% block body %}

<div class="pt-5 mx-2 mt-5">
<h2 class="text-center">PROPERTY DETAILS</h2>
<div class="col-md-6 col-12 form-inner pb-5 px-5 mx-auto">
    <form action="" method="post">
        <div>
            <label for="city" class="form-label">City</label>
            <select required class="form-select" aria-label="Default select example" name="city">
              <option selected value="{{data[1]}}">{{data[1]}}</option>
              <option value="Ahemdabaad">Ahemdabaad</option>
              <option value="Banglore">Banglore</option>
              <option value="Chennai">Chennai</option>
              <option value="Delhi">Delhi</option>
              <option value="Faridabaad">Faridabaad</option>
              <option value="Gaziabaad">Gaziabaad</option>
              <option value="Greater Noida">Greater Noida</option>
              <option value="Gorakhpur">Gorakhpur</option>
              <option value="Gurgaon">Gurgaon</option>
              <option value="Hyderabaad">Hyderabaad</option> 
              <option value="Kolkata">Kolkata</option>
              <option value="Mumbai">Mumbai</option>
              <option value="Noida">Noida</option>
              <option value="Pune">Pune</option>
              <option value="Thane">Thane</option>
              <option value="Varanasi">Varanasi</option>
            </select><br>
          </div>
          
          <div>
            <label for="property_type" class="form-label">Property Type</label>
            <select required class="form-select" aria-label="Default select example" name="property_type" >
              <option selected value="{{data[10]}}">{{data[10]}}</option>
              <option value="Apartment">Apartment</option>
              <option value="Builder_Floor">Builder_Floor</option>
              <option value="Lodging_property">Lodging property</option>
            </select><br>
          </div>
    
          <div class="row">
            <div class="col-md-6">
              <label for="bhk" class="form-label">BHK</label>
              <select required class="form-select" aria-label="Default select example" name="bhk" >
                <option selected value="{{data[2]}}">{{data[2]}}</option>
                <option value="1">1BHK</option>
                <option value="2">2BHK</option>
                <option value="3">3BHK</option>
                <option value="4">4BHK</option>
                <option value="5">5BHK</option>
              </select><br>
            </div>
            <div class="col-md-6">
              <fieldset class="row px-2 mt-4 mb-3">
                <legend class="col-form-label col-sm-2 pt-0">For</legend>
                <div class="col-sm-10">
                {% if sale %}
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Sale" checked>
                    <label class="form-check-label" for="gridRadios1">Sale</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Rent">
                    <label class="form-check-label" for="gridRadios2">Rent </label>
                  </div>
                </div>
                {% endif %}
                {% if rent %}
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Sale" checked>
                    <label class="form-check-label" for="gridRadios1">Sale</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Rent" checked>
                    <label class="form-check-label" for="gridRadios2">Rent </label>
                  </div>
                </div>
                {% endif %}
              </fieldset>
            </div>
          </div>
    
          <div class="mb-3">
            <label for="locality" class="form-label">Locality</label>
            <input required type="text" class="form-control py-2" name="locality" value="{{data[6]}}"  >
          </div>
    
          <div class="row">
            <div class="col mb-3">
                <label for="area" class="form-label">Area</label>
              <input required type="number" class="form-control py-2" name="area" value="{{data[5]}}" >
            </div>
      
            <div class="col mb-3">
                <label for="price" class="form-label">Price</label>
              <input required type="number" class="form-control py-2" name="price" value="{{data[8]}}"  >
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
                <label for="bathroom" class="form-label">Bathroom</label>
              <select required class="form-select" aria-label="Default select example" name="bathroom">
                <option selected value="{{data[3]}}">{{data[3]}}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select><br>
            </div>
      
            <div class="col-md-6">
                <label for="parking" class="form-label">Parking</label>
              <select required class="form-select" aria-label="Default select example" name="parking">
                <option selected value="{{data[4]}}">{{data[4]}}</option>
                <option value="yes">yes</option>
                <option value="no">no</option>
              </select><br>
            </div>
          </div>
    
          <div class="row">
            <div class="col-md-6">
                <label for="furnishing" class="form-label">Furnishing</label>
              <select required class="form-select" aria-label="Default select example" name="furnishing">
                <option selected value="{{data[7]}}">{{data[7]}}</option>
                <option value="Furnished">Furnished</option>
                <option value="Semi Furnished">Semi-Furnished</option>
                <option value="Unfurnished">Unfurnished</option>
              </select><br>
            </div>
      
            <div class="col-md-6">
                <label for="status" class="form-label">Status</label>
              <select required class="form-select" aria-label="Default select example" name="status">
                <option selected value="{{data[9]}}">{{data[9]}}</option>
                <option value="Ready_to_move">Ready to move</option>
                <option value="Almost_Ready">Almost Ready</option>
              </select><br>
            </div>
          </div>
         
        {% if message %}
            <div class="alert alert-success" role="alert">{{ message }} </div>
        {% endif %}
          <div class="row">           
            <div>
              <button type="reset" class="btn btn-primary ">Reset</button>
              <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
          </div>
         
    </form>
</div>
</div>

{% endblock %}