{% extends "layout.html" %}
{% block body %}

<div class="mt-3 pt-3">
    <div class=" p-5 ">
        <h2 class="text-center py-4"><u>PROPERTY DETAILS</u></h2>
        <div class="card m-2 px-3 py-3">

            <div class="text-center">
                <h5 class="card-title"> bhk BHK type </h5>
                <p class="card-text ">For pro_for in locality,city</p>    
            </div><br>

            <div>
                <h4 class="px-5">PRICE - Rs. price</h4>
            </div><br>

            <div class="row py-2">
    
                <div class="col-md-4">
                    <img src="/static/images/card-cover.jpg" alt="..." width="310" height="210">
                </div>
   
                <div class="col-md-8 pt-4">
                    <div>
                        
                        <div class="house-detail-card px-2 py-2">
                            <div class="d-flex flex-wrap">                
                                <div class="col-md-4 col-12 px-4">
                                   <h6>AREA</h6>
                                   <p>area  sqft</p>
                                </div>  
    
                                <div class="col-md-4 col-12 px-4">
                                   <h6>BATHROOM</h6>
                                   <p> 1 </p>
                                </div>
                      
                                <div class="col-md-4 col-12 px-4">
                                   <h6>PARKING</h6>
                                   <p>parking </p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div>
                        
                        <div class="house-detail-card px-2 py-2">
                            <div class="d-flex flex-wrap"> 

                                <div class="col-md-4 col-12 px-4">
                                   <h6>STATUS</h6>
                                   <p> status </p>
                                </div>
    
                                <div class="col-md-4 col-12 px-4">
                                   <h6>FURNIHSING</h6>
                                   <p>furnishing </p>
                                </div>
                      
                                
                            </div> 
                        </div>
                    </div>
                </div>

            </div>

            <hr>
            <div class=" px-5 py-2">
                <h3 class=" px-5 pt-4 pd-2"><u>OWNER DETAILS</h3></u></h3>
                <div class="m-2 px-3 py-3">    
                    <p><strong>Name - </strong>Abc</p>
                    <p><strong>Phone Number - </strong>99********</p>
                    <p><strong>Email-id - </strong>demo@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    
  </div>

{% endblock %}